<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="header-title">
      Liste des tâches
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isOpen === false" color="light" (click)="isOpen = true">
        Ajouter
      </ion-button>
      <ion-button *ngIf="isOpen === true" color="danger" (click)="isOpen = false">
        Annuler
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="empty" *ngIf="tasks.length === 0">
    <p>Vous n'avez pas de tâche</p>
  </div>

  <ion-list *ngIf="tasks.length > 0">
    <ion-list-header class="list-header">
      Liste de mes tâches
    </ion-list-header>

    <ion-card class="tasks" *ngFor="let task of tasks; let i = index">
      <ion-checkbox color="danger" [checked]="task.isChecked" (ionChange)="onChecked($event, i)"></ion-checkbox>
      <h4 *ngIf="!task.isChecked" class="task-title">{{ task.content }}</h4>
      <h4 *ngIf="task.isChecked" class="task-title checked-task">{{ task.content }}</h4>
      <ion-button fill="clear" color="danger" class="delete-button" (click)="deleleteTask(i)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer *ngIf="isOpen" class="footer">
  <ion-input [(ngModel)]="newTask" placeholder="Ajouter une nouvelle tâche"></ion-input>
  <ion-button shape="round" style="float: right;" (click)="addNewTask()" color="primary" [disabled]="newTask === ''">
    Ajouter
  </ion-button>
</ion-footer>
